h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-size: 45px;
  margin: 0;
}

h2 {
  font-family: "Raleway", sans-serif;
  color: #0d2c40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
}

body {
  text-align: center;
  text-decoration: none;
  margin: 0;
}

header {
  background-color: #f15b31;
  color: white;
  padding: 30px 20px 30px 20px;
}

nav {
  background-color: #00a6b3;
  color: white;
  padding: 20px 0px 20px 0px;
}

a:hover {
  border-color: white;
}

a {
  margin: 0px 20px 0px 20px;
  border-bottom: 2px solid transparent;
}

main {
  width: 850px;
  margin: 35px auto 35px auto;
}

img {
  margin: 40px 8px 0px 8px;
}

.links {
  font-family: "Raleway", sans-serif;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.copyright {
  font-family: "Raleway", sans-serif;
  float: left;
}

.message {
  font-family: "Raleway", sans-serif;
  float: right;
}

.name {
  color: #f15b31;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

footer {
  text-transform: uppercase;
  padding: 0px 20px 0px 20px;
  background: #0d2c40;
  color: white;
  font-size: 14px;
  letter-spacing: 0.08em;
  font-weight: 500;
}

.button {
  background-color: #00a6b3;
  color: white;
  text-align: center;
  font: "Raleway", sans-serif;
  display: inline-block;
  width: 75px;
}
